<section class="home">

  <div class="container">
    <cdk-virtual-scroll-viewport
      (scrolledIndexChange)="onScroll($event)"
      [itemSize]="searchResults.length - 1" class="row">

      <ng-container *cdkVirtualFor="let item of searchResults">
        <h2 *ngIf="item.headline" class="content-headline">{{item.headline}}</h2>
        <div
          *ngIf="item.strDrinkThumb"
          class="content-item fade-in">
          <img [src]="item.strDrinkThumb" class="content-image" [alt]="item.strDrink">
          <p class="content-info">{{item.strDrink}}</p>
        </div>
      </ng-container>

    </cdk-virtual-scroll-viewport>
  </div>

</section>
