/* colors */
$white-color: #fff;
$black-color: #000;

$theme: #818181;

$border: #D0D0D0;

$button: #4E4E4E;

$headline: #FF8A00;
$item-headline: #818181;

/* states */
$transition: .4s;

/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';
$decor-fonts: 'SeaweedScript-Regular', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';
